.nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: 100%;                 
  padding: 0 16px;             
  box-sizing: border-box;     
}
.navHeading{
    font-size: 25px;
    font-weight: bolder;
}

.navPara{
    font-size: 15px;
    font-weight: bolder;
}

