.card2{
    background-color: #ffffff;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;

}


.cardTitle2{
    font-size:30px ;
    color: #565555;
}

.profileCreateCard2{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.Noevent{
    color: #565555;
    font-size: 20px;
    text-align: center;
}

.eventdetails{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: #e0dddd 2px solid ;
    padding: 10px;
}

.eventRow{
    display:  flex;
    flex-direction: row;
}

.usersAre1{
    color: #681aed;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.usersAre{
    color: #565555;
    font-size: 20px;
    margin-top: 5px;
}

.calenderPanel{
    margin-top: 20px;
    color: #565555;
    margin-right: 20px;
}

.datePanel{
    font-size: 20px;
    font-weight: bold;
}

.timepanel{
    color: #565555;
    font-size: 15px;
}

.updatespara{
    font-size: 12px;
    color: #a0a0a0e1;
}

.line{
    margin-top: 0px;
}

.eventActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.editandview{
    background-color: #f3f2f2;
    width: 100%;
    border: #e0dddd 1px solid ;
    border-radius: 5px;
    color: #565555;
    font-size: 15px;
    padding: 10px;
}

.editandviewIcon{
    color: #9b9999;
    font-size: 20px;
    margin: 5px;
}