.main{
  background-color: #e3e3e3b8;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  overflow: hidden;
}

.mainContainer {         
  width: 100%;
  display: flex;  
  justify-content: space-between;
  gap: 20px;  
  overflow: hidden;
  height: 100%;
}

@media (max-width: 1024px) {
  .main {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  .main {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .main {
    font-size: 16px;
  }
}