html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; 
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html, body {
    font-size: 12px;
  }
}