.mainLog{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.eachlog{
    list-style-type:  none;
    border-radius: 10px;
    border: #d7d7d7 1px solid ;
    padding: 10px;
}

.logTime{
    color: #908f8f;
    font-size: 15px;
}

.logItem{
    color: black;
    font-size: 15px;
}